@charset "utf-8";

.title {
    height: 310px;
    background-image: url(../images/school/school.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 1px 1px 10px #4b2c14;
  }

  
  .title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bold;
  }
  
  .title p {
    font-size: 14px;
    margin-top: 15px;
  }

.shop-contents {
  width: 1080px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}


.shop-item {
  flex-grow: 1;
  max-width: 765px;
}

.shop-item h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
}

.shop-item h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-top: 20px;
}

.item-list {
  margin-top: 25px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  column-gap: 50px;
  row-gap: 40px;
}


.item-list dl {
  margin-top: 20px;
}

.item-list dt {
  font-weight: bold;
}

.item-list dd {
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
}


.schedule{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
}

.schedule img {
    width: 50%;
    max-width: 380px;
}



.footer {
  margin-top: 100px;
}

@media (max-width: 800px) {
  .shop-contents {
    display: block;
    max-width: 100%;
    margin-top: 60px;
  }

  .shop-item {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .item-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 35px;
  }


  .item-area, 
  .system{
    display: block;
  }

  .item-area img {
    width: 100%;
    max-width: 100%;
  }



  .footer {
    margin-top: 0;
  }
}